.home {
    header{
        display:flex;
        flex-direction:column;

        .top-section{
            border:1px solid red;
            display: flex;
            justify-content: center;
            }
        }

        section{display: flex;
        justify-content: center;

    
    }


        img{
            width:90%;
            height:auto;
            border-radius: 15px;
        }
        
        

}