
.home {

    header{
        display:flex;
        flex-direction:column;

        .top-div{
            background: @red;
        

            .top-section{
                display: flex;
                justify-content: center;

                    h1{
                        font-size: 6rem;
                    }
                }
            }
        }

        section{display: flex;
        justify-content: center;
        margin:3% 0;

    
    }
        .text{
            border-top: 2px solid black;
        }

        .content-top, .content-bottom{
            display:flex;
            flex-direction: row-reverse;
        }


        img{
            width:98%;
            margin:1%;
            height:auto;
            border-radius: 15px;
        }
        

        

}